{% extends "base.html" %}
{% block title %} {{ object.title }} - 文章导航{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ object.keywords }}">
    <meta name="description" content="{{ object.summary }}">
{% endblock %}
{% block css %}
    <link href="/s/css/article.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if object.cover %}
        <div class="cover">
            <img class="title-image" src="{{ object.cover }}" alt="cover" style="margin-bottom: 12px;">
        </div>
    {% endif %}
    <div class="article">
        {% if object.cover %}
            <div class="title-info">
                <div><a href="#"><img src="{{ object.author.avatar }}"
                                     alt="">{{ object.author.name }}</a> {{ object.create_time }}
                </div>
            </div>
            <h1 class="title">{{ object.title }}</h1>
        {% else %}
            <br>
            <h1 class="title">{{ object.title }}</h1>
            <div class="title-info">
                <div><a href="#"><img src="{{ object.author.avatar }}"
                                     alt="">{{ object.author.name }}</a> {{ object.create_time }}
                </div>
            </div>
        {% endif %}
        <div class="article-content">
            {{ object.content | safe }}</div>
        <div class="article-footer">
            <div class="row fix-row">
                <div class="footer-left">
                    本文来源于网络，版权归作者所有
                </div>
                <div class="footer-right">
                    <a href="{{ object.link }}" style="float: right" target="_blank" rel="nofollow">阅读原文 ></a>
                </div>
            </div>
        </div>
        {% if relate_list %}
            <div class="relate-title">
                相关阅读
            </div>
            <div class="relate-list">
                {% for relate in relate_list %}
                    <li>
                        {% if relate.cover %}
                            <div class="row fix-row">

                                <div class="relate-img">
                                    <a href="{{ host }}/article/{{ relate.token }}"><img src="{{ relate.cover }}"
                                                                               alt="{{ relate.title }}"
                                                                               class="relate-cover"></a>
                                </div>
                                <div class="relate-item">
                                    <div class="relate-detail">
                                        <div class="relate-detail-title">
                                            <h5><a href="{{ host }}/article/{{ relate.token }}">{{ relate.title }}</a></h5>
                                        </div>
                                        <div class="relate-detail-content">
                                            <a href="{{ host }}/article/{{ relate.token }}">{{ relate.summary | slice:"50" }}...
                                                阅读全文
                                                ></a>
                                        </div>
                                        <div class="relate-detail-footer">
                                            <a href="{{ relate.author.link }}">{{ relate.author.name }}</a> {{ relate.create_time }}
                                            发表于 <a href="{{ host }}/column/{{ relate.belong.slug }}/">{{ relate.belong.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row fix-row">
                                <div class="relate-detail">
                                    <div class="relate-detail-title">
                                        <h5><a href="{{ host }}/article/{{ relate.token }}">{{ relate.title }}</a></h5>
                                    </div>
                                    <div class="relate-detail-content">
                                        <a href="{{ host }}/article/{{ relate.token }}">{{ relate.summary | slice:"50" }}... 阅读全文
                                            ></a>
                                    </div>
                                    <div class="relate-detail-footer">
                                        <a href="{{ relate.author.link }}">{{ relate.author.name }}</a> {{ relate.create_time }}
                                        发表于 <a href="{{ host }}/column/{{ relate.belong.slug }}/">{{ relate.belong.name }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                <div class="row fix-row">
                    <div class="footer-left"></div>
                    <div class="footer-right">
                        <a href="{{ host }}/column/{{ object.belong.slug }}/">查看更多>></a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="recommand-title">
            推荐阅读
        </div>
        <div class="relate-list">
            {% for relate in recommand_list %}
                <li>
                    {% if relate.cover %}
                        <div class="row fix-row">

                            <div class="relate-img">
                                <a href="{{ host }}/article/{{ relate.token }}"><img src="{{ relate.cover }}"
                                                                           alt="{{ relate.title }}"
                                                                           class="relate-cover"></a>
                            </div>
                            <div class="relate-item">
                                <div class="relate-detail">
                                    <div class="relate-detail-title">
                                        <h5><a href="{{ host }}/article/{{ relate.token }}">{{ relate.title }}</a></h5>
                                    </div>
                                    <div class="relate-detail-content">
                                        <a href="{{ host }}/article/{{ relate.token }}">{{ relate.summary | slice:"50" }}... 阅读全文
                                            ></a>
                                    </div>
                                    <div class="relate-detail-footer">
                                        <a href="{{ relate.author.link }}">{{ relate.author.name }}</a> {{ relate.create_time }}
                                        发表于 <a href="{{ host }}/column/{{ relate.belong.slug }}/">{{ relate.belong.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row fix-row">
                            <div class="relate-detail">
                                <div class="relate-detail-title">
                                    <h5><a href="{{ host }}/article/{{ relate.token }}">{{ relate.title }}</a></h5>
                                </div>
                                <div class="relate-detail-content">
                                    <a href="{{ host }}/article/{{ relate.token }}">{{ relate.summary | slice:"50" }}... 阅读全文
                                        ></a>
                                </div>
                                <div class="relate-detail-footer">
                                    <a href="{{ relate.author.link }}">{{ relate.author.name }}</a> {{ relate.create_time }}
                                    发表于 <a href="{{ host }}/column/{{ relate.belong.slug }}">{{ relate.belong.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </div>
        <div class="recommand-title">
            文章导航
        </div>
    </div>

    <div class="index-content">
    <div class="article-list">
    </div>
{% endblock %}
{% block script %}
    <script src="/s/js/index.js"></script>
{% endblock %}