{% extends "base.html" %}
{% block title %}文章导航 - 发现优质文章{% endblock %}
{% block meta %}
    <meta name="keywords"
          content="文章,文章收藏工具,文章订阅工具,个人文库,在线图书馆,自媒体文章,知乎文章,专栏文章,文章导航,知乎专栏,微信文章大全,微信优质文章,自媒体作者,微信精选文章,热门微信文章聚合,微信公众号导航,微信精选公众号">
    <meta name="description" content="这里是自媒体人的优质文章和微信公众号的展示平台，精彩原创文章与草根写手的分享空间！【微口网】集文章分享,内容订阅,收藏摘录于一体的媒体平台">
{% endblock %}
{% block css %}
    <link href="/s/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="index-content">
        <div class="article-list">
            {% for relate in zharticle_list %}
                <div class="article-item">
                    {% if relate.cover %}
                        <div class="row" style="margin-left: 0;margin-right: 0;">
                            <div class="item-img">
                                <a href="/article/{{ relate.token }}" target="_blank"><img src="{{ relate.cover }}"
                                                                                           alt="{{ relate.title }}"
                                                                                           class="item-cover"></a>
                            </div>
                            <div class="item-content">
                                <div class="item-detail">
                                    <div class="item-detail-title">
                                        <h4><a href="/article/{{ relate.token }}" target="_blank">{{ relate.title }}</a>
                                        </h4>
                                    </div>
                                    <div class="item-detail-footer">
                                        <a href="#"><img src="{{ relate.belong.avatar }}"
                                                         alt="{{ relate.belong.name }}"
                                                         class="item-avatar"> {{ relate.belong.name }}
                                            <span>{{ relate.create_time | timesince }} 前</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="article-item">
                            <div class="item-detail">
                                <div class="item-detail-title">
                                    <h4><a href="/article/{{ relate.token }}" target="_blank">{{ relate.title }}</a>
                                    </h4>
                                </div>
                                <div class="item-detail-footer">
                                    <a href="#"><img src="{{ relate.belong.avatar }}"
                                                     alt="{{ relate.belong.name }}"
                                                     class="item-avatar"> {{ relate.belong.name }}
                                        <span>{{ relate.create_time | timesince }} 前</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="article-pagination">
            <nav aria-label="">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="/articles?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for page in page_range %}
                        <li class="page-item"><a class="page-link" href="/articles?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    <li class="page-item">
                        <a id="total-page" class="page-link" href="/articles?page={{ page_obj.paginator.num_pages }}" total="{{ page_obj.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/s/js/index.js"></script>
{% endblock %}